* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow: hidden;
}
ul,
ol,
li {
	list-style: none;
}
a {
	text-decoration: none;
}

.inner {
	position: relative;
	width: 1920px;
	margin: 0 auto;
}
